<h1>Voici l'index de mes tâches</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <ol class="list-group">
        <% @tasks.each do |task| %>
        <li class="list-group-item">
          <h3><%= task.name %></h3>
          <p><%= task.description %></p>
          <%= link_to "show", task_path(task) %>
          <%= link_to "edit", edit_task_path(task) %>
          <%= link_to "delete", task_path(task), method: :delete %>
        </li>
        <% end %>
      </ol>
       <%= link_to "create a new", new_task_path(@task) %>
    </div>
  </div>
</div>
